.main__partners {
  padding-bottom: 200px;
  .container__fluid {
    position: relative;
    padding: 0;
    .shape1 {
      position: absolute;
      left: 356px;
      top: 100px;
    }
    .shape2 {
      position: absolute;
      top: 600px;
      left: -100px;
    }
    .shape3 {
      position: absolute;
      top: 700px;
      left: 50%;
      transform: translateX(-50%);
    }
    .shape4 {
      position: absolute;
      right: 0;
      top: 700px;
    }
    .container {
      padding-top: 20px;
      .partners__subtitle {
        position: relative;
        > h2 {
          color: var(--black-color);
          -webkit-text-stroke: 0.5px var(--white-color);
          text-transform: uppercase;
          z-index: 1;
          position: absolute;
          left: 28px;
          top: 160px;
        }
        img {
          position: absolute;
          top: 140px;
        }
      }
      .partners__header {
        padding-top: 330px;
        justify-content: space-evenly;
        position: relative;
        .partners__header-items {
          a {
            color: var(--white-color);
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            opacity: 0.6;
            &.filter-active {
              opacity: 1;
            }
          }
        }
        &:after {
          content: '';
          width: 100%;
          height: 1px;
          background-color: var(--grey-color);
          position: absolute;
          bottom: -5px;
        }
      }
      .partners__content {
        padding-top: 100px;
        .swiper-slide {
          display: flex;
          flex-wrap: wrap;
          margin: auto;
          justify-content: center;
          img {
            margin: auto;
          }
        }
        .distribution {
          .distribution__img {
            width: calc((100% - 180px) / 9);
            margin: auto 10px;
          }
        }
        .media {
          .media__img {
            width: calc((100% - 160px) / 8);
            margin: auto 10px;
          }
        }
        .entertainment {
          .entertainment__img {
            width: calc((100% - 180px) / 9);
            margin: auto 10px;
          }
        }
      }
    }
  }
}